<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<a href="/login">Ir a Login</a>
<a href="/reservas">Ir a Reservas</a>
<a href="/mis-reservas">Ir a Mis Reservas</a>
<form th:action="@{/login}" method="post">
    <div><label> Usuario: <input type="text" name="username"/> </label></div>
    <div><label> Contraseña: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Iniciar Sesión"/></div>
</form>
</body>
</html>
